* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  color: rgb(30, 30, 30);
}

body {
  width: 100vw;
  background-color: lavender;
}

main {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

p {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2rem;
}

.profile-header {
  display: flex;
  justify-items: center;
  align-items: center;
}

.profile-header li {
  list-style-type: none;
}

.profile-header li img {
  width: 100px;
  margin-right: 1rem;
  border-radius: 1rem;
}
