* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  background-color: darkslateblue;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 1rem;
}

p {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2rem;
}
