article {
  background-color: whitesmoke;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 0.5rem 0;
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

article:last-of-type {
  margin-bottom: 5rem;
}

article .material-symbols-outlined {
  position: absolute;
  top: -0.4rem;
  right: 1rem;
  color: darkslateblue;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 2rem;
  border: none;
  background-color: transparent;
}

article .material-symbols-outlined.card__bookmark--active {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0 0.25rem 0;
}

.tag-list li {
  border: 1px solid;
  border-radius: 1rem;
  list-style-type: none;
  padding: 0.25rem 1rem;
  margin: 0 0.5rem 0.25rem 0;
}

.button {
  margin: 0.5rem auto;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.hidden {
  display: none;
}
